<% @page_title = "Login" %>
<div class="Sign_Form">
  <h1>Login</h1>
  
  <form action="authenticate/login" method="post">
  <br> Username:
      <input type="text" name="username" required="true", size="20">
  <br> Password: 
      <input type="password" name="password" required="true", size="20">
      <br>
      <input type="submit" value="Submit">
  </form>
</div>
